<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Error 404 : Page not found</h1>
        </div>        
<% include partials/footer %> 