<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Error Occured</h1>
            <p class="lead">The page encountered an error while loading</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <%= errcode %> 
            </p>
        </div>        
<% include partials/footer %> 