<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Search for a Movie !</h1>

    <form action="results" method="GET">
        <input type="text" name="q" id="mv" placeholder="Enter a search query">
        <input type="submit" name="sub" id="sub" value="Search!">
    </form>
</body>
</html>